<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Hola... "Usuario"</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Inicio</ion-item>
        <ion-item>Mi lista de deseados ♥</ion-item>
        <ion-item>Mis compras</ion-item>
        <ion-item>Configuracion</ion-item>
        <ion-item>Soporte</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
